#set($page_title="我的任务")
###set($jsUrls=["${rc.contextPath}/static/task/list.js"])
#set($type="2")
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed');
                var status = "$!status";
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${rc.contextPath}/">首页</a>
            </li>
            <li class="active">$page_title</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">$page_title</h3>
                <div class="table-responsive">
                    <div class="text-info">$!{msg}</div>
                    #if($shiro.hasPermission("mytask:create"))
                        <a href="${rc.contextPath}/task/create?type=$!{type}" class="btn btn-primary btn-sm">创建任务</a>
                    #end
                    <table id="myTaskList" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center col-lg-1">序号</th>
                            <th class="center col-lg-2">任务内容</th>
                            <th class="center col-lg-2">发布时间</th>
                            #*<th class="center col-lg-2">回复</th>
                            <th class="center col-lg-1">回复时间</th>*#
                            <th class="center col-lg-1">状态</th>
                            <th class="center col-lg-1">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($task in $taskList)
                            <tr>
                                <td class="center">$!{velocityCount}</td>
                                <td><a href="${rc.contextPath}/reply/$!{task.id}">$!{task.content}</a></td>
                                <td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{task.createTime})</td>
          #*                      <td>$!{task.feedback}</td>
                                <td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{task.updateTime})</td>*#
                                <td>
                                    #if(${task.status} == "CREATED")
                                        <span class="label label-info">$!{task.status.value}</span></td>
                                    #elseif(${task.status} == "DOING")
                                        <span class="label label-warning">$!{task.status.value}</span></td>
                                    #elseif(${task.status} == "FINISH")
                                        <span class="label label-success">$!{task.status.value}</span></td>
                                    #end
                                </td>
                                <td>
                                    #if(${task.status} != "FINISH")
                                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                        #if($shiro.hasPermission("mytask:update"))
                                            <a class="green" href="${rc.contextPath}/reply/$!{task.id}">
                                                回复
                                            </a>
                                        #end
                                    </div>
                                    #end
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>