#set($page_title="编辑汇票信息")
#set($bankUrl="${request.getHeader('Referer')}")
#set($cssUrls=["${rc.contextPath}/static/ticket/floatLabels.css"])
#set($jsUrls= ["${rc.contextPath}/static/ticket/floatLabels.js","${rc.contextPath}/static/ticket/edit.js"])
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home home-icon"></i>
                <a href="${rc.contextPath}/">首页</a>
            </li>
            <li class="active">$page_title</li>
        </ul>
        <div class="nav-search">
            <a class="btn btn-xs btn-grey arrowed" href="${bankUrl}" title="返回">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">$page_title</h3>

                <div class="" id="step-container">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4><i class="fa fa-sign-in"></i>进票</h4>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">

                                <form id="validation-form" method="post">
                                    <div class="row">
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="" class="control-label">交易编号</label>
                                            <input type="text" name="orderNo" class="form-control" placeholder="交易编号">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="" class="control-label">客户姓名</label>
                                            <input type="text" name="name" class="form-control" placeholder="客户姓名">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="" class="control-label">客户电话</label>
                                            <input type="text" name="telphone" class="form-control" placeholder="客户电话">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="" class="control-label">身份证号</label>
                                            <input type="text" name="idCard" class="form-control" placeholder="身份证号">
                                        </div>

                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="" class="control-label">票号</label>
                                            <input type="text" name="ticketNo" class="form-control" placeholder="票号">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="">票面金额</label>
                                            <input type="text" name="ticketMoney" class="form-control" placeholder="票面金额">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="">到期日期</label>
                                            <input type="text" name="expireDate" class="form-control" placeholder="到期日期">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="">证明费</label>
                                            <input type="text" name="certifyFee" class="form-control" placeholder="证明费">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="">票面零头</label>
                                            <input type="text" name="ticketOdd" class="form-control" placeholder="票面零头">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="">进票点</label>
                                            <input type="text" name="inPoint" class="form-control" placeholder="进票点">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="">其它费用</label>
                                            <input type="text" name="otherFee" class="form-control" placeholder="其它费用">
                                        </div>
                                        <div class="form-group float-label-control col-xs-3">
                                            <label for="">票面实际金额</label>
                                            <input type="text" name="ticketSurplus" class="form-control" placeholder="票面实际金额">
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit">
                                                <i class="fa fa-check bigger-110"></i>
                                                ${op}
                                            </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn" type="reset">
                                                <i class="fa fa-undo bigger-110"></i>
                                                重置
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4><i class="fa fa-sign-out"></i>出票</h4>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                 <table class="table table-striped table-hover">
                                     <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>票号</th>
                                            <th>票面金额</th>
                                            <th>出票点</th>
                                            <th>出票实际金额</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr>
                                           <td>1</td>
                                           <td>12345678</td>
                                           <td>10000.00</td>
                                           <td>0.00</td>
                                           <td>10000.00</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>12345687</td>
                                            <td>10000.00</td>
                                            <td>0.00</td>
                                            <td>10000.00</td>
                                        </tr>
                                     </tbody>
                                 </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>