#set($page_title="编辑汇票信息")
#set($bankUrl="${request.getHeader('Referer')}")
#set($cssUrls=["${rc.contextPath}/static/ticket/floatLabels.css","${rc.contextPath}/assets/css/jquery-ui-1.10.3.full.min.css",
"${rc.contextPath}/assets/css/datepicker.css","${rc.contextPath}/assets/css/ui.jqgrid.css"])
#set($jsUrls= ["${rc.contextPath}/static/ticket/floatLabels.js","${rc.contextPath}/assets/js/date-time/bootstrap-datepicker.min.js",
"${rc.contextPath}/assets/js/jqGrid/jquery.jqGrid.min.js","${rc.contextPath}/assets/js/jqGrid/i18n/grid.locale-cn.js",
"${rc.contextPath}/assets/js/jquery.tabletojson.min.js","${rc.contextPath}/assets/js/jquery-ui-1.10.4.custom.min.js",
"${rc.contextPath}/static/ticket/edit.js"])
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed');
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home home-icon"></i>
                <a href="${rc.contextPath}/">首页</a>
            </li>
            <li class="active">$page_title</li>
        </ul>
        <div class="nav-search">
            <a class="btn btn-xs btn-grey arrowed" href="${bankUrl}" title="返回">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="" id="step-container">
                    <div class="row">
                        <form id="validation-form" method="post">
                            <div class="form-group float-label-control col-xs-3">
                                <label for="" class="control-label">交易编号</label>
                                <input type="text" name="tradeNo" class="form-control" placeholder="交易编号"
                                       value="$!{tradeNo}" readonly="true">
                            </div>
                            <div class="form-group float-label-control col-xs-3">
                                <label for="" class="control-label">客户姓名</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="客户姓名">
                            </div>
                            <div class="form-group float-label-control col-xs-3">
                                <label for="" class="control-label">客户电话</label>
                                <input type="text" name="telphone" id="telphone" class="form-control" maxlength="11"
                                       placeholder="客户电话">
                            </div>
                            <div class="form-group float-label-control col-xs-3">
                                <label for="" class="control-label">身份证号</label>
                                <input type="text" name="idCard" id="idCard" class="form-control" maxlength="18" placeholder="身份证号">
                            </div>
                        </form>
                    </div>

                    <table id="in-ticket-table"></table>
                    <div id="in-grid-pager" class="height-auto"></div>

                    <table id="out-ticket-table"></table>
                    <div id="out-grid-pager" class="height-auto"></div>

                    <div class="hr hr8 hr-double hr-dotted"></div>

                    <div class="row">
                        <div class="col-md-offset-7 col-md-5">
                            <div class="col-md-3">
                                <h4 id="flag">合计</h4>
                            </div>
                            <div class="col-md-9 align-right">
                                <h4 id="profit" class="green">0.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-7 col-md-5">
                            <div class="col-md-3">
                                <h4>支付方式</h4>
                            </div>
                            <div class="col-md-9">
                                <div class="pull-left">
                                    <table id="paymentTable">
                                        <thead class="hidden">
                                            <tr>
                                                <th>payType</th>
                                                <th>account</th>
                                                <th>payMoney</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <select name="payType">
                                                    <option value="CASH">现金</option>
                                                    <option value="EBANK">网银</option>
                                                    <option value="POS">刷卡机</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="input-small account" placeholder="帐号"
                                                       maxlength="16">
                                            </td>
                                            <td>
                                                <input type="text" class="input-small" placeholder="金额">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pull-right">
                                    <a id="addPayment" class="btn btn-sm btn-success">
                                        <i class="icon-only fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr hr8 hr-double hr-dotted"></div>
                    <div class="space-6"></div>
                    <div class="clearfix well">
                        <div class="col-md-offset-5 col-md-7">
                            <button class="btn btn-info" id="submit" type="button">
                                <i class="fa fa-check bigger-110"></i>
                                ${op}
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>