#set($page_title="500错误")
#set($bankUrl="${request.getHeader('Referer')}")
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home home-icon"></i>
                <a href="${rc.contextPath}/">首页</a>
            </li>
            <li class="active">$!{page_title}</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="error-container">
                    <div class="well">
                        <h1 class="grey lighter smaller">
                            <span class="red bigger-125">
                                <i class="fa fa-random"></i>
                                500
                            </span>
                            服务器出错了
                        </h1>

                        <hr/>
                        <h3 class="lighter smaller">
                            但是我们的程序员正在努力解决
                            <i class="fa fa-wrench bigger-125"></i>
                            它！
                        </h3>
                        <div class="space"></div>
                        <div>
                            <h4 class="lighter smaller">同时, 可以尝试以下见意:</h4>
                            <ul class="list-unstyled spaced margin-15">
                                <li>
                                    <i class="fa fa-angle-right blue"></i>
                                    <a href="#">阅读常见问题</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right blue"></i>
                                    <a href="#">给我们更多的信息关于这个特定的错误发生!</a>
                                </li>
                            </ul>
                        </div>

                        <hr/>
                        <div class="space"></div>

                        <div class="center">
                            <a href="$!{bankUrl}" class="btn btn-grey">
                                <i class="fa fa-arrow-left"></i>
                                返回
                            </a>

                            <a href="${rc.contextPath}/" class="btn btn-primary">
                                <i class="fa fa-home"></i>
                                首页
                            </a>
                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.pagehelper-content -->
</div><!-- /.main-content -->