#set($page_title="控制台")
#set($jsUrls= ["${rc.contextPath}/assets/js/jquery.easy-pie-chart.min.js","${rc.contextPath}/assets/js/jquery.sparkline.min.js",
"${rc.contextPath}/assets/js/flot/jquery.flot.min.js","${rc.contextPath}/assets/js/flot/jquery.flot.pie.min.js",
"${rc.contextPath}/assets/js/flot/jquery.flot.resize.min.js","${rc.contextPath}/static/index.js"])
<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>
        <li class="active">控制台</li>
    </ul>
    <!-- .breadcrumb -->
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            控制台
            <small>
                <i class="fa fa-angle-double-right"></i>
                查看
            </small>
        </h1>
    </div>
    <!-- /.pagehelper-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-remove"></i>
                </button>

                <i class="fa fa-check green"></i>

                欢迎使用
                <strong class="green">
                    汇票管理系统
                    <small>(v1.0)</small>
                </strong>
            </div>

            <div class="row">
                <div class="col-lg-7 col-lg-offset-2 infobox-container">
                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">$!{inline}</span>
                            <div class="infobox-content">在线人数</div>
                        </div>
                    </div>
                    <div class="infobox infobox-green">
                        <div class="infobox-icon">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">3</span>
                            <div class="infobox-content">任务</div>
                        </div>
                    </div>

                    <div class="infobox infobox-orange2">
                        <div class="infobox-chart">
                            <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">251</span>
                            <div class="infobox-content">页面查看次数</div>
                        </div>
                    </div>
                    <div class="space-6"></div>

                    <div class="infobox infobox-green infobox-small infobox-dark">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage" data-percent="61" data-size="39">
                                <span class="percent">61</span>%
                            </div>
                        </div>

                        <div class="infobox-data">
                            <div class="infobox-content">任务</div>
                            <div class="infobox-content">完成</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue infobox-small infobox-dark">
                        <div class="infobox-chart">
                            <span class="sparkline" data-values="3,4,2,3,4,4,2,2"></span>
                        </div>

                        <div class="infobox-data">
                            <div class="infobox-content">获得</div>
                            <div class="infobox-content">$32,000</div>
                        </div>
                    </div>

                    <div class="infobox infobox-grey infobox-small infobox-dark">
                        <div class="infobox-icon">
                            <i class="fa fa-cloud-download"></i>
                        </div>

                        <div class="infobox-data">
                            <div class="infobox-content">下载次数</div>
                            <div class="infobox-content">1,205</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr hr32 hr-dotted"></div>
            <div class="row">
                <div class="col-lg-7 col-lg-offset-2">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <h5>
                                <i class="fa fa-signal"></i>
                                访问来源
                            </h5>

                            <div class="widget-toolbar no-border">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                    本周
                                    <i class="fa fa-angle-down bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu pull-right dropdown-125 dropdown-lighter dropdown-caret">
                                    <li class="active">
                                        <a href="#" class="blue">
                                            <i class="fa fa-caret-right bigger-110">&nbsp;</i>
                                            本周
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                            上周
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                            本月
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                            上月
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div id="piechart-placeholder"></div>

                                <div class="hr hr8 hr-double"></div>

                                <div class="clearfix">
                                    <div class="grid3">
															<span class="grey">
																<i class="fa fa-qq fa-2x blue"></i>
																&nbsp; QQ
															</span>
                                        <h4 class="bigger pull-right">1,255</h4>
                                    </div>

                                    <div class="grid3">
															<span class="grey">
																<i class="fa fa-weibo fa-2x purple"></i>
																&nbsp; 微博
															</span>
                                        <h4 class="bigger pull-right">941</h4>
                                    </div>

                                    <div class="grid3">
															<span class="grey">
																<i class="fa fa-weixin fa-2x red"></i>
																&nbsp; 微信
															</span>
                                        <h4 class="bigger pull-right">1,050</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
    </div>
</div>
</div>