#set($page_title="控制台")
#set($jsUrls= ["${rc.contextPath}/assets/js/flot/jquery.flot.min.js",
"${rc.contextPath}/assets/js/flot/jquery.flot.resize.min.js","${rc.contextPath}/static/index.js"])
<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>
        <li class="active">控制台</li>
    </ul>
    <!-- .breadcrumb -->
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            控制台
            <small>
                <i class="fa fa-angle-double-right"></i>
                查看
            </small>
        </h1>
    </div>
    <!-- /.pagehelper-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-remove"></i>
                </button>
                <i class="fa fa-check green"></i>
                欢迎使用
                <strong class="green">
                    汇票管理系统
                    <small>(v1.0)</small>
                </strong>
            </div>

            <div class="row">
                <div class="col-lg-7 col-lg-offset-2 infobox-container">
                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">$!{inline}</span>
                            <div class="infobox-content">在线人数</div>
                        </div>
                    </div>
                    <div class="infobox infobox-green">
                        <div class="infobox-icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">$!{dayTrade}</span>
                            <div class="infobox-content">今天交易</div>
                        </div>
                    </div>

                    <div class="infobox infobox-orange2">
                        <div class="infobox-icon">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">$!{allTrade}</span>
                            <div class="infobox-content">总交易数</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>