#set($page_title="访问受限")
#set($bankUrl="${request.getHeader('Referer')}")
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${rc.contextPath}/">首页</a>
            </li>
            <li class="active">$!{page_title}</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="error-container">
                    <div class="well">
                        <h1 class="grey lighter smaller">
                            <span class="red bigger-125">
                                <i class="icon-random"></i>
                                401
                            </span>
                            访问受限
                        </h1>
                        <hr/>
                        <h3 class="lighter smaller">
                            你的访问超出了权限范围！<br>
                            $!{ex.message}
                        </h3>
                        <div class="space"></div>
                        <div>
                            <h4 class="lighter smaller">同时, 可以尝试以下见意:</h4>
                            <ul class="list-unstyled spaced margin-15">
                                <li>
                                    <i class="icon-angle-right blue"></i>
                                    <a href="#">阅读常见问题</a>
                                </li>
                                <li>
                                    <i class="icon-angle-right blue"></i>
                                    <a href="#">联系系统管理</a>
                                </li>
                            </ul>
                        </div>
                        <hr/>
                        <div class="space"></div>
                        <div class="center">
                            <a href="${rc.contextPath}/" class="btn btn-primary">
                                <i class="icon-home"></i>
                                首页
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>