<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.hepx.ticket.mapper.TicketMapper">
    <cache/>

    <sql id="base_columns">
        id,ticketNo,ticketMoney,expireDate,inDate,certifyFee,ticketOdd,otherFee,inPoint,inTicketSurplus,outPoint,
        outTicketSurplus,outDate,discountAmount,inTradeId,outTradeId,ticketStatus
    </sql>

    <insert id="createTicket" parameterType="t_ticket" useGeneratedKeys="true" keyProperty="id">
        insert into tb_ticket
        (ticketNo,ticketMoney,expireDate,inDate,certifyFee,ticketOdd,inPoint,otherFee,inTicketSurplus,inTradeId,ticketStatus)
        values
        (#{ticketNo},#{ticketMoney},#{expireDate},#{inDate},#{certifyFee},#{ticketOdd},#{inPoint},#{otherFee},#{inTicketSurplus},#{inTradeId},#{ticketStatus})
    </insert>

    <update id="updateTicket" parameterType="t_ticket">
        update tb_ticket
        <trim prefix="set" suffixOverrides=",">
            <if test="ticketStatus != null">
                ticketStatus=#{ticketStatus},
            </if>
            <if test="outDate != null">
                outDate=#{outDate},
            </if>
            <if test="outPoint != null">
                outPoint=#{outPoint},
            </if>
            <if test="outTicketSurplus != null">
                outTicketSurplus=#{outTicketSurplus},
            </if>
            <if test="outTradeId != null">
                outTradeId=#{outTradeId},
            </if>
            <if test="discountAmount != null">
                discountAmount=#{discountAmount},
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteTicket" parameterType="long">
        delete from tb_ticket where id=#{ticketId}
    </delete>

    <select id="findOne" parameterType="long" resultType="t_ticket">
        select
        <include refid="base_columns"/>
        from tb_ticket
        where id=#{ticketId}
    </select>

    <select id="findAll" resultType="t_ticket">
        select
        <include refid="base_columns"/>
        from tb_ticket
        order by id desc
    </select>

    <select id="findAllByCriteria" resultType="t_ticket" parameterType="t_ticket">
        select id,ticketNo,ticketMoney,expireDate,ticketStatus,inDate,inPoint,inTicketSurplus,outDate,outPoint,outTicketSurplus,discountAmount
        from tb_ticket
        <where>
            <if test="ticketNo != null and ticketNo != ''">
                and ticketNo like CONCAT('%',#{ticketNo},'%')
            </if>
            <if test="ticketStatus !=null and ticketStatus != ''">
                and ticketStatus=#{ticketStatus}
            </if>
        </where>
        order by id desc
    </select>

    <select id="findByCriteria" resultType="t_ticket" parameterType="map">
        select id,ticketNo,ticketMoney,expireDate,ticketStatus,inDate,inPoint,inTicketSurplus,outDate,outPoint,outTicketSurplus
        from tb_ticket
        <where>
            <if test="ticketNo != null and ticketNo != ''">
                and ticketNo like CONCAT('%',#{ticketNo},'%')
            </if>
            <if test="ticketStatus !=null and ticketStatus != ''">
                and ticketStatus=#{ticketStatus}
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and inDate between #{startTime} and #{endTime}
            </if>
        </where>
        order by id desc
    </select>

    <select id="findByStatus" resultType="t_ticket" parameterType="string">
        select id,ticketNo,ticketMoney from tb_ticket
        where ticketStatus=#{status}
        order by id desc
    </select>

    <select id="findByStock" resultType="t_ticket">
        select id,ticketNo,ticketMoney,expireDate from tb_ticket
        where ticketStatus = 'EXISTED'
        order by ticketMoney,expireDate
    </select>

    <select id="findJsonByStock" resultType="map" parameterType="string">
        select id,ticketNo as value,ticketMoney from tb_ticket
        where ticketStatus = 'EXISTED' and ticketNo like CONCAT('%',#{ticketNo},'%')
    </select>

    <select id="findInTicketByTradeId" resultType="t_ticket" parameterType="long">
        select id,ticketNo,ticketMoney,inDate,certifyFee,ticketOdd,otherFee,inPoint,inTicketSurplus
        from tb_ticket
        where inTradeId=#{tradeId}
    </select>

    <select id="findOutTicketByTradeId" resultType="t_ticket" parameterType="long">
        select id,ticketNo,ticketMoney,outPoint,outTicketSurplus,outDate,discountAmount
        from tb_ticket
        where outTradeId=#{tradeId}
    </select>

</mapper>
