<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.hepx.ticket.mapper.TicketMapper">
    <cache/>

    <sql id="base_columns">
        id,
        ticketNo,ticketMoney,expireDate,certifyFee,ticketOdd,otherFee,inPoint,inTicketSurplus,outPoint,outTicketSurplus,outDate,tradeId,ticketStatus
    </sql>

    <insert id="createTicket" parameterType="t_ticket" useGeneratedKeys="true" keyProperty="id">
        insert into tb_ticket (ticketNo,ticketMoney,expireDate,certifyFee,ticketOdd,inPoint,otherFee,inTicketSurplus,tradeId,ticketStatus)
        values
        (#{ticketNo},#{ticketMoney},#{expireDate},#{certifyFee},#{ticketOdd},#{inPoint},#{otherFee},#{inTicketSurplus},#{tradeId},#{ticketStatus})
    </insert>

    <update id="updateTicket" parameterType="t_ticket">
        update tb_ticket
        <trim prefix="set" suffixOverrides=",">
            <if test="ticketStatus != null">
                ticketStatus=#{ticketStatus},
            </if>
            <if test="outDate != null">
                outDate=#{outDate},
            </if>
            <if test="outPoint != null">
                outPoint=#{outPoint},
            </if>
            <if test="outTicketSurplus != null">
                outTicketSurplus=#{outTicketSurplus},
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteTicket" parameterType="long">
        delete from tb_ticket where id=#{ticketId}
    </delete>

    <select id="findOne" parameterType="long" resultType="t_ticket">
        select
        <include refid="base_columns"/>
        from tb_ticket
        where id=#{ticketId}
    </select>

    <select id="findAll" resultType="t_ticket">
        select
        <include refid="base_columns"/>
        from tb_ticket
        order by id desc
    </select>

    <select id="findByStatus" resultType="t_ticket" parameterType="string">
        select id,ticketNo,ticketMoney from tb_ticket
        where ticketStatus=#{status}
        order by id desc
    </select>

</mapper>
