<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.hepx.rbac.mapper.TaskMapper">
    <cache/>

    <sql id="base_columns">
        id, content, createTime, feedback, updateTime,status,userId
    </sql>

    <!--创建用户-->
    <insert id="createTask" parameterType="task" useGeneratedKeys="true" keyProperty="id">
        insert into tb_task (content, createTime,status,userId)
        values (#{content}, #{createTime},#{status},#{userId})
    </insert>

    <!--更新用户-->
    <update id="updateTask" parameterType="task">
        update tb_task
        <trim prefix="set" suffixOverrides=",">
            <if test="content != null and content !=''">
                content=#{content},
            </if>
            <if test="feedback != null and feedback != ''">
                feedback=#{feedback},
            </if>
            <if test="updateTime != null">
                updateTime=#{updateTime},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="userId != null">
                userId=#{userId},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteTask" parameterType="long">
        delete from tb_task where id=#{taskId}
    </delete>

    <!--查询用户-->
    <select id="findOne" parameterType="long" resultType="task">
        select
        <include refid="base_columns"/>
        from tb_task
        where id=#{taskId}
    </select>

    <select id="findAll" resultType="task">
        select
        <include refid="base_columns"/>
        from tb_task
        order by id desc
    </select>

    <select id="findByUserId" resultType="task" parameterType="long">
        select
        <include refid="base_columns"/>
        from tb_task
        where userId=#{userId}
        order by id desc
    </select>
</mapper>
