#set($page_title="编辑公司信息")
#set($bankUrl="${request.getHeader('Referer')}")
#set($jsUrls= ["${rc.contextPath}/static/organization/edit.js"])

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home home-icon"></i>
                <a href="${rc.contextPath}/">首页</a>
            </li>
            <li class="active">$page_title</li>
        </ul>
        <!-- .breadcrumb -->
        <div class="nav-search">
            <a class="btn btn-xs btn-grey arrowed" href="${bankUrl}" title="返回">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">$page_title</h3>
                <div class="step-content row-fluid position-relative" id="step-container">
                    <form action="" class="form-horizontal" id="validation-form" method="post">
                        <input type="hidden" name="id" value="$!{organization.id}">
                        <input type="hidden" name="parentId" value="$!{parent.id}">
                        <input type="hidden" name="parentIds" value="$!{parent.selfAsParentIds}">
                        #if($parent)
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right">母公司名称:</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <span class="align-middle">$!{parent.name}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                        #end
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">#if($parent) 子 #end 公司名称:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <input type="text" id="name" name="name" value="$!{organization.name}"/>
                                </div>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="fa fa-check bigger-110"></i>
                                    ${op}
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="fa fa-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>